[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
docker = "*"
duckdb = "*"
ijson = "*"
pandas = "*"
pyarrow = "*"
pygit2 = "*"
types-docker = "*"
types-pygit2 = "*"

[dev-packages]
black = "*"
coveralls = "*"
freezegun = "*"
ipython = "*"
mypy = "*"
pre-commit = "*"
pyarrow-stubs = "*"
pytest = "*"
ruff = "*"
setuptools = "*"

[requires]
python_version = "3.12"

[scripts]
abdiff = "python -c \"from abdiff.cli import main; main()\""
