[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
ipython = "*"
pytest-freezegun = "*"

[requires]
python_version = "3.12"

[scripts]
abdiff = "python -c \"from abdiff.cli import main; main()\""
