<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link href="{{ url_for('static', filename='jsoneditor.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='github.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='diff2html.min.css') }}" />

    <title>{% block title %}Transmogrifier-AB-Diff{% endblock %}</title>
</head>

<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='jsoneditor.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Transmogrifier-AB-Diff Job: <code>{{g.job_name_pretty}}</code></span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/shutdown" class="nav-link" aria-current="page">Shutdown</a></li>
        </ul>
    </header>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>