{% extends "base.html" %}

{% block title %}Record {{timdex_record_id}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Record: <code>"{{timdex_record_id}}"</code></h1>
    </div>
    <div class="row">
        <h3>Record Changes Summary</h3>
        <div id="recordSummary" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="row">
        <h3>Record "A"</h3>
        <div id="recordA" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="row">
        <h3>Record "B"</h3>
        <div id="recordB" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="row">
        <h3>Side-by-Side Diff</h3>
        <div id="recordDiff"></div>
    </div>
</div>

<div>
    <script>
        loadJSONData("recordSummary", {{summary|safe}});
        loadJSONData("recordA", {{a_json|safe}});
        loadJSONData("recordB", {{a_json|safe}});
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='diff2html-ui.min.js') }}"></script>
    <script>
        const targetElement = document.getElementById('recordDiff');
        // https://github.com/rtfpessoa/diff2html#usage
        var configuration = {
            outputFormat: 'side-by-side',
            drawFileList: false,
            fileListToggle: false,
            fileListStartVisible: false,
            fileContentToggle: false,
            matching: 'lines',
            synchronisedScroll: true,
            highlight: true,
            renderNothingWhenEmpty: false,
        };

        const diff2htmlUi = new Diff2HtmlUI(targetElement, `{{diff_str|safe}}`, configuration);
        diff2htmlUi.draw();
    </script>
</div>
{% endblock %}