{% extends "base.html" %}

{% block title %}Run {{run_data.timestamp}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Run: <code>{{run_data.run_timestamp}}</code></h1>
    </div>
    <div class="row">
        <h3>Details</h3>
        <div id="runDetails" style="width: 100%;"></div>
    </div>
    <div class="row">
        <h3 data-bs-toggle="collapse" data-bs-target="#collapseLogs" role="button" aria-expanded="false" aria-controls="collapseLogs">Transform Logs ⤵</h3>
        <div class="collapse" id="collapseLogs">
            <pre><code>{{transform_logs}}</code></pre>
        </div>
    </div>
    <div class="row">
        <h3>Diff Metrics</h3>
        <div id="runMetrics" style="width: 100%; margin-bottom:50px;"></div>
    </div>
    <div class="row">
        <h3>Record Links</h3>
        <h4>Fields with diffs</h4>
        <ul style="margin-left:40px;">
            {% for field,link in sample_links.field_samples.items() %}
            <li><code><a href="{{link}}">{{field}}</a></code> ({{run_data.metrics.analysis.by_field[field].count}})</li>
            {% endfor %}
        </ul>
        <h4>Sources with diffs</h4>
        <ul style="margin-left:40px;">
            {% for source,link in sample_links.source_samples.items() %}
                <li><code><a href="{{link}}">{{source}}</a></code> ({{run_data.metrics.analysis.by_source[source].count}})</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div>
    <script>
        let runDetailsEditor = loadJSONData("runDetails", {{run_json|safe}});

        let metricsEditor = loadJSONData("runMetrics", {{metrics_json|safe}});
        metricsEditor.expand({path: ["summary"], isExpand: true, recursive: false})
        metricsEditor.expand({path: ["analysis"], isExpand: true, recursive: false})
    </script>
</div>
{% endblock %}